<button type="button" class="collection-sidebar__heading" data-heading="{{ heading }}">
  <span class="type-heading-meta" data-sidebar-title>{{ heading }}</span>
  {% render 'icon' with icon: 'chevron-down' %}
</button>