<div
  class="modal"
  data-modal
  >
  <div class="modal__overlay"></div>
  <div class="modal__inner">
  <div class="modal__header">
    <button type="button" class="modal__close-icon button-blank" data-modal-close>
      {% render 'icon' with icon: 'close' %}
    </button>
  </div>
    <div class="modal__content rte type-body-regular"></div>
  </div>
</div>